body
{
    background-color: black;
    color: cornsilk;
}

/* -----------------------------------PRESENTATION---------------------------- */
h1
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    text-align: center;
    padding-bottom: 1.5em;
}

main
{
    margin-top: 5%;
    margin-bottom: 5%;
}

/* -----------------------------------EXPERIENCE/COMPETENCES------------------------- */
#listecompetences
{
    list-style: none;
    padding-left: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.aligndroite
{
    padding-top: 5%;
    text-align: right !important;
}

/* ----------------------------------------FORMATIONS-------------------------------- */
#listeformation
{
    list-style: none;
}

.red > h3
{
    color: red;
    font-style: italic;
}

.foncé
{
    color: rgb(252, 237, 178);
}

/* --------------------------------------------CONTACT------------------------------------ */
legend
{
    padding: 0.5em;
}

/* -----------------------------------------FOOTER------------------------------------ */
footer
{
    text-align: center;
}

.sociaux
{
    padding: 1em;
}

#github
{
    width: 5em;
}

#facebook
{
    width: 5em;
    margin: 0.3em;
}

#twitter
{
    width: 5.2em;
}